* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container .hidden-print {
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .hidden-print .w1000 {
  width: 1000px;
  margin: 0 auto;
  display: block;
}

.container .hidden-print .header-top {
  height: 103px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container .hidden-print .header-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

.container .hidden-print .header-top ul .float-left {
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.container .hidden-print .header-top ul .float-left img {
  width: 216px;
  height: 86px;
  margin-top: 4px;
}

.container .hidden-print .header-top ul .float-right .wrapper {
  margin-top: 20px;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.container .hidden-print .header-top ul .float-right .wrapper img {
  width: 35px;
  height: 35px;
}

.container .hidden-print .header-top ul .float-right .wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../style-dang-nhap/images/button.jpg");
  background-size: 100% 100%;
  left: -100%;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .hidden-print .header-top ul .float-right .wrapper:hover::before {
  left: 0;
}

.container .hidden-print .header-bottom {
  background-color: #1b2f55;
}

.container .hidden-print .header-bottom nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

.container .hidden-print .header-bottom .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .hidden-print .header-bottom .main-menu li {
  position: relative;
}

.container .hidden-print .header-bottom .main-menu li a {
  color: white;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
}

.container .hidden-print .header-bottom .main-menu .sub-menu {
  position: absolute;
  background-color: #1b2f55;
  padding: 15px 0px;
  list-style: none;
  width: 200px;
  border: 1px solid #1b2f55;
  display: none;
}

.container .hidden-print .header-bottom .main-menu .sub-menu a {
  padding: 8px 15px;
  border-bottom: 1px solid #1b2f55;
}

.container .hidden-print .header-bottom .main-menu .sub-menu li:hover a {
  border-bottom: 1px solid red;
}

.container .hidden-print .header-bottom .main-menu .sub-menu li:last-child a {
  border: none;
}

.container .hidden-print .header-bottom .main-menu li:hover .sub-menu {
  display: block;
}

.container .hidden-print .header-bottom .main-menu > li > a {
  position: relative;
}

.container .hidden-print .header-bottom .main-menu > li > a::before {
  content: "";
  height: 4px;
  width: 0px;
  background-color: red;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.container .hidden-print .header-bottom .main-menu > li:hover > a::before {
  width: 100%;
}

.container .hidden-print .header-bottom .main-menu > li.has-child::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: #8b9dac;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 18px 0px;
}

.container .hidden-print .header-bottom .login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .hidden-print .header-bottom .login-menu li {
  position: relative;
}

.container .hidden-print .header-bottom .login-menu li a {
  color: white;
  display: block;
  padding: 18px 20px;
  text-decoration: none;
}

.container .hidden-print .header-bottom .login-menu .sub-menu {
  position: absolute;
  background-color: #1b2f55;
  padding: 15px 0px;
  list-style: none;
  width: 200px;
  border: 1px solid #1b2f55;
  display: none;
}

.container .hidden-print .header-bottom .login-menu .sub-menu a {
  padding: 8px 15px;
  border-bottom: 1px solid #1b2f55;
}

.container .hidden-print .header-bottom .login-menu .sub-menu li:hover a {
  border-bottom: 1px solid red;
}

.container .hidden-print .header-bottom .login-menu .sub-menu li:last-child a {
  border: none;
}

.container .hidden-print .header-bottom .login-menu li:hover .sub-menu {
  display: block;
}

.container .hidden-print .pic-center img {
  min-width: 100%;
}

.container .hidden-print .header-search {
  background: #a6fcff;
}

.container .hidden-print .header-search .wrapper {
  position: absolute;
  top: 5%;
  left: 57%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .hidden-print .header-search .container {
  width: 0px;
  height: 50px;
  background: #41484a;
  text-align: center;
  line-height: 45px;
  padding-right: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container .hidden-print .header-search .input {
  border: 0px;
  border-bottom: 2px solid #fff;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .hidden-print .header-search .container .fa {
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.container .hidden-print .header-search .container.active {
  width: 250px;
  padding-left: 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container .hidden-print .header-search .input.active {
  width: 98%;
  padding-left: 5px;
  -webkit-transition: all 0.5s 0.8s ease;
  transition: all 0.5s 0.8s ease;
}

.container .hidden-print .header-search input::-webkit-input-placeholder {
  color: #fff;
}

.container .hidden-print .header-search input:-ms-input-placeholder {
  color: #fff;
}

.container .hidden-print .header-search input::-ms-input-placeholder {
  color: #fff;
}

.container .hidden-print .header-search input::placeholder {
  color: #fff;
}
/*# sourceMappingURL=trang-chinh.css.map */