* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hidden-print {
    position: fixed;
    top: 0;
    width: 100%;
    height: 142px;
    box-sizing: border-box;

    .w1000 {
        width: 1000px;
        margin: 0 auto;
        display: block;
    }

    .header-top {
        height: 103px;
        background-color: rgb(255, 255, 255);
        display: flex;
        list-style: none;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            justify-items: center;

            .float-left {
                margin: 0 auto;
                padding: 0;
                border: 0;

                img {
                    width: 216px;
                    height: 86px;
                    margin-top: 4px;
                }
            }

            .float-right {

                .wrapper {
                    margin-top: 20px;
                    padding: 10px 25px;
                    display: inline-block;
                    text-transform: uppercase;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 35px;
                        height: 35px;
                    }
                }

                .wrapper::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: url('../style-dang-nhap/images/button.jpg');
                    background-size: 100% 100%;
                    left: -100%;
                    top: 0;
                    transition: all 0.2s ease-in-out;
                }

                .wrapper:hover::before {
                    left: 0;
                }
            }
        }
    }



    .header-bottom {
        background-color: #1b2f55;

        .container {
            width: 1000px;
            margin: 0px auto;
        }

        nav {
            display: flex;
            justify-content: space-between;
            justify-items: center;
        }

        .main-menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;


            li {
                position: relative;

                a {
                    color: rgb(255, 255, 255);
                    display: block;
                    padding: 18px 20px;
                    text-decoration: none;
                }
            }

            .sub-menu {
                position: absolute;
                background-color: #1b2f55;
                padding: 15px 0px;
                list-style: none;
                width: 200px;
                border: 1px solid #1b2f55;
                display: none;

                a {
                    padding: 8px 15px;
                    border-bottom: 1px solid #1b2f55;
                }

                li:hover a {
                    border-bottom: 1px solid rgb(255, 0, 0);
                }

                li:last-child a {
                    border: none;
                }


            }

            li:hover .sub-menu {
                display: block;
            }
        }

        .main-menu>li>a {
            position: relative;
        }

        .main-menu>li>a::before {
            content: "";
            height: 4px;
            width: 0px;
            background-color: red;
            position: absolute;
            bottom: 0px;
            left: 0px;
            transition: 0.4s cubic-bezier(0.23, 1, 0.320, 1);
        }

        .main-menu>li:hover>a::before {
            width: 100%;

        }

        .main-menu>li.has-child::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            color: rgb(139, 157, 172);
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 18px 0px;
        }

        .login-menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;


            li {
                position: relative;

                a {
                    color: rgb(255, 255, 255);
                    display: block;
                    padding: 18px 20px;
                    text-decoration: none;
                }
            }

            .sub-menu {
                position: absolute;
                background-color: #1b2f55;
                padding: 15px 0px;
                list-style: none;
                width: 200px;
                border: 1px solid #1b2f55;
                display: none;

                a {
                    padding: 8px 15px;
                    border-bottom: 1px solid #1b2f55;
                }

                li:hover a {
                    border-bottom: 1px solid rgb(255, 0, 0);
                }

                li:last-child a {
                    border: none;
                }


            }

            li:hover .sub-menu {
                display: block;
            }
        }

    }

    .pic-center {
        .w1000 {
            width: 1000px;
            margin: 500px;
        }


    }

}